Repository xsf/xmpp.org, pull requests merged in 2020-09, with the labels that each got.

#782 august newsletter review
  content/posts/newsletter/2020-08-08.md
Labels: Newsletter :email:

#783 August Newsletter: Add aTalk 2.4.0 and 2.4.1
  content/posts/newsletter/2020-08-08.md
Labels: Newsletter :email:

#792 Newsletter 08/2020: Review
  content/posts/newsletter/2020-08-08.md
Labels: Newsletter :email:

#793 Renew library listing for StanzaJS
  data/libraries.json
Labels: Update

#791 renew "Salut à Toi" in clients.json
  data/clients.json
Labels: Update

#789 Renew aioxmpp listing
  data/libraries.json
Labels: Update

#790 Fix 'Jobs' being highlighted when viewing 'Blog'
  xmpp.org-theme/templates/top_menu.html
Labels: Website :computer_mouse:, bug

#786 Update entry for the Verse library
  data/libraries.json
Labels: Website :computer_mouse:

#785 Link mission statement from “The XSF” page
  content/pages/about/xmpp-standards-foundation.md
Labels: Website :computer_mouse:

#794 August newsletter review
  content/posts/newsletter/2020-08-08.md
Labels: Newsletter :email:

#795 Add kuketz-blog.de article about conversations
  content/posts/newsletter/2020-09-06.md
Labels: Newsletter :email:

#781 Update officer list
  content/pages/about/xsf/people.md
  data/members.json
Labels: Update

#756 EDITORIAL CLOSING: XMPP Newsletter month about August 2020
  content/posts/newsletter/2020-08-08.md
Labels: Newsletter :email:

#797 [august newsletter fix] Fix  Lorenz Kästle article english title
  content/posts/newsletter/2020-08-08.md
Labels: Newsletter :email:

#798 [august newsletter fix] Attempt to fix HTML rendering of unordered lists
  content/posts/newsletter/2020-08-08.md
Labels: Newsletter :email:

#800 [August newsletter] Move tigase news to relevant section
  content/posts/newsletter/2020-08-08.md
Labels: Newsletter :email:

#801 [September newsletter] add gekitchen and various other things
  content/posts/newsletter/2020-09-06.md
Labels: Newsletter :email:

#802 Translation was added
  content/posts/newsletter/2020-08-08.md
Labels: Newsletter :email:

#803 Add libstrophe 0.10.0 release
  content/posts/newsletter/2020-09-06.md
Labels: Newsletter :email:

#804 [newsletter] Add Prosody 0.11.6 release
  content/posts/newsletter/2020-09-06.md
Labels: Newsletter :email:

#805 Add further Prosody announcements
  content/posts/newsletter/2020-09-06.md
Labels: Newsletter :email:

#807 [newsletter] Add Gajim Dev News
  content/posts/newsletter/2020-09-06.md
Labels: Newsletter :email:

#806 Renew libstrophe
  data/libraries.json
Labels: Update

#810 [newsletter] Update XEPs section
  content/posts/newsletter/2020-09-06.md
Labels: Newsletter :email:

#809 Config: Set SITEURL for Feeds
  pelicanconf.py
Labels: Website :computer_mouse:, dependencies

#811 [newsletter] Add Movim news
  content/posts/newsletter/2020-09-06.md
Labels: Newsletter :email:

#812 Newsletter: Link to JoinXMPP to help find people to take over
  content/posts/newsletter/2020-09-06.md
Labels: Newsletter :email:
