Repository xsf/xmpp.org, pull requests merged in 2020-10, with the labels that each got.

#808 Fonts: Include Merriweather font
  xmpp.org-theme/static/fonts/font.css
  xmpp.org-theme/static/fonts/merriweather-v22-latin-regular.eot
  xmpp.org-theme/static/fonts/merriweather-v22-latin-regular.svg
  xmpp.org-theme/static/fonts/merriweather-v22-latin-regular.ttf
  xmpp.org-theme/static/fonts/merriweather-v22-latin-regular.woff
  xmpp.org-theme/static/fonts/merriweather-v22-latin-regular.woff2
Labels: Website :computer_mouse:, enhancement

#814 [newsletter] Review
  content/posts/newsletter/2020-09-06.md
Labels: Newsletter :email:

#815 [September newsletter review] Moving parts to relevant section + minor fixes
  content/posts/newsletter/2020-09-06.md
Labels: Newsletter :email:

#787 EDITORIAL CLOSING: XMPP Newsletter month about September 2020
  content/posts/newsletter/2020-09-06.md
Labels: Newsletter :email:

#816 [Newsletter October] Update XEP section
  content/posts/newsletter/2020-10-05.md
Labels: Newsletter :email:

#817 Minor grammar fix
  content/posts/newsletter/2020-09-06.md
Labels: Newsletter :email:

#819 [newsletter] Update XEPs
  content/posts/newsletter/2020-11-05.md
Labels: Newsletter :email:

#820 Update css accordingly after modifying sass files
  xmpp.org-theme/static/css/app.css
Labels: Website :computer_mouse:

#821 Update XEPs
  content/posts/newsletter/2020-11-05.md
Labels: Newsletter :email:

#824 Mention MongooseIM 4.0 release and the corresponding links
  content/posts/newsletter/2020-11-05.md
Labels: Newsletter :email:
