Repository xsf/xmpp.org, pull requests merged in 2020-08, with the labels that each got.

#755 End-users friendlier pass 4
  content/posts/newsletter/2020-08-06.md
Labels: Newsletter :email:

#757 Monal 4.7, eturnal fixes
  content/posts/newsletter/2020-08-06.md
Labels: Newsletter :email:

#758 Rewrite keyoxide, typo for atalk
  content/posts/newsletter/2020-08-06.md
Labels: Newsletter :email:

#741 Add biography Daniel Gultsch
  content/pages/about/xmpp-standards-foundation.md
Labels: Update

#759 Misc fixes
  content/posts/newsletter/2020-08-06.md
Labels: Newsletter :email:

#760 July newsletter review
  content/posts/newsletter/2020-08-06.md
Labels: Newsletter :email:

#761 Monal - use github release link
  content/posts/newsletter/2020-08-06.md
Labels: Newsletter :email:

#730 EDITORIAL CLOSING: XMPP Newsletter month about July 2020
  content/posts/newsletter/2020-08-06.md
Labels: Newsletter :email:

#683 Add ObjXMPP to libraries.json
  data/libraries.json
Labels: Update, question

#763 Newsletter: August - Add Smack 4.4.0-beta1 release post
  content/posts/newsletter/2020-08-08.md
Labels: Newsletter :email:

#764 Newsletter: XEP updates
  content/posts/newsletter/2020-08-08.md
Labels: Newsletter :email:

#765 Add Gajim and python-nbxmpp, add XEP Last Calls
  content/posts/newsletter/2020-08-08.md
Labels: Newsletter :email:

#766 Add renew date for Spark
  data/clients.json
Labels: Update

#769 [Newsletter] Update XEPs
  content/posts/newsletter/2020-08-08.md
Labels: Newsletter :email:

#772 Newsletter: Add Gajim Dev News August issue
  content/posts/newsletter/2020-08-08.md
Labels: Newsletter :email:

#773 Renew Openfire
  data/servers.json
Labels: Update

#767 [Newsletter: August] XMPPIoT coffee maker
  content/posts/newsletter/2020-08-08.md
Labels: Newsletter :email:
