Repository xsf/xmpp.org, pull requests merged in 2020-12, with the labels that each got.

#831 [newsletter] Update specifications
  content/posts/newsletter/2020-12-08.md
Labels: Newsletter :email:

#841 Renew Prosody
  data/servers.json
Labels: Update

#843 Libraries: add DOAP file for slixmpp
  data/libraries.json
Labels: Update

#844 Add Siskin MUC-OMEMO and iMessage bridge posts
  content/posts/newsletter/2020-12-08.md
Labels: Newsletter :email:

#846 [newsletter] November issue review
  content/posts/newsletter/2020-12-08.md
Labels: Newsletter :email:

#842 history: Add link to this old i-d I found
  content/pages/about/history.md
Labels: Update, Website :computer_mouse:

#847 Add 2 ejabberd and one Tigase news
  content/posts/newsletter/2020-12-08.md
Labels: Newsletter :email:

#830 EDITORIAL CLOSING: XMPP Newsletter November 2020
  content/images/newsletter/december2020/Dino_message_correction.png
  content/images/newsletter/december2020/beagle-accounts.png
  content/images/newsletter/december2020/testdec2020.jpg
  content/posts/newsletter/2020-12-09.md
Labels: Newsletter :email:

#850 November Newsletter typos
  content/posts/newsletter/2020-12-09.md
Labels: Newsletter :email:

#848 Add section to call for help and some small changes
  content/pages/newsletter.md
Labels: Newsletter :email:, Website :computer_mouse:, enhancement

#849 Add txxmpp to clients.json
  data/clients.json
Labels: Update

#852 Fix months in standards process for 'Deferred'
  content/pages/about/standards-process.md
Labels: Newsletter :email:

#855 Artalk.XMPP
  data/libraries.json
Labels: Update
