Repository xsf/xmpp.org, pull requests merged in 2020-07, with the labels that each got.

#742 Announce MongooseIM 3.7.1
  content/posts/newsletter/2020-08-06.md
Labels: Newsletter :email:

#739 Attempt to be more end-user friendly by providing a little bit of additional info
  content/posts/newsletter/2020-08-06.md
Labels: Newsletter :email:

#744 End-user friendliness, pass 2
  content/posts/newsletter/2020-08-06.md
Labels: Newsletter :email:

#745 Add Monal betas for 4.7
  content/posts/newsletter/2020-08-06.md
Labels: Newsletter :email:

#746 Newsletter: Add updated XEPs
  content/posts/newsletter/2020-08-06.md
Labels: Newsletter :email:

#747 Add information about Tigase JaXMPP 3.3.0 release
  content/posts/newsletter/2020-08-06.md
Labels: Newsletter :email:

#749 Newsletter Aug. 2020: include what-about-design article
  content/posts/newsletter/2020-08-06.md
Labels: Newsletter :email:

#748 Add information about Tigase XMPP Server 8.1.0 release; correct JaXMPP release link.
  content/posts/newsletter/2020-08-06.md
Labels: Newsletter :email:

#752 Newsletter: Add jxmpp release 1.0.0
  content/posts/newsletter/2020-08-06.md
Labels: Newsletter :email:

#740 Add table with examples
  content/pages/uses/internet-of-things.md
Labels: enhancement

#754 Add latest XEP change
  content/posts/newsletter/2020-08-06.md
Labels: Newsletter :email:

#723 Renew Gajim
  data/clients.json
Labels: Update

#722 Add python-nbxmpp to libraries
  data/libraries.json
Labels: Update

#710 Add macOS platform for ChatSecure
  data/clients.json
Labels: Update

#709 Renewed the entry for UWPX
  data/clients.json
Labels: Update

#719 add stravaganza lib to libraries.json
  data/libraries.json
Labels: Update
