Repository xsf/xmpp.org, pull requests merged in 2021-08, with the labels that each got.

#945 Small fixes
  content/posts/newsletter/2021-08-05.md
Labels: Newsletter :email:

#946 Add Mellium Dev Communiqué to the July newsletter
  content/posts/newsletter/2021-08-05.md
Labels: Newsletter :email:

#941 REVIEW: Create draft of the XMPP Newsletter July 2021
  content/posts/newsletter/2021-08-05.md
Labels: Newsletter :email:

#949 Fix NINA-to-XMPP URL typo
  content/posts/newsletter/2021-08-05.md
Labels: Newsletter :email:

#951 Newsletter 2021-07: Fix nina-xmpp links
  content/posts/newsletter/2021-08-05.md
Labels: Newsletter :email:

#950 Fix link to Isode whitepaper
  content/pages/about/myths.md
Labels: Website :computer_mouse:

#954 update members as per Q3-2021 elections
  data/members.json
Labels: Update
