Repository xsf/xmpp.org, pull requests merged in 2022-11, with the labels that each got.

#1190 Add JMP newsletter and summary.
  content/blog/2022-11-05-newsletter.md
Labels: Newsletter :email:

#1192 Newsletter October 2022: Mention Capitole du Libre in Toulouse
  content/blog/2022-11-05-newsletter.md
Labels: Newsletter :email:

#1194 Update clients.json
  data/clients.json
Labels: Update

#1199 Various text updates
  content/blog/2022-11-05-newsletter.md
Labels: Newsletter :email:

#1201 Add monal and atalk news
  content/blog/2022-11-05-newsletter.md
Labels: Newsletter :email:

#1188 EDITORIAL CLOSING: XMPP Newsletter October 2022
  content/blog/2022-11-05-newsletter.md
  static/images/newsletter/2022-11-07/gajim-emoji-shortcodes.png
Labels: Newsletter :email:

#1202 Small typo Oct newsletter
  content/blog/2022-11-05-newsletter.md
Labels: Newsletter :email:

#1203 New timestamp for Monal stable release with build number 829
  data/clients.json
Labels: Update

#1204 Renew Tigase software and add doap files for Stork and Halcyon
  data/clients.json
  data/libraries.json
  data/servers.json
Labels: Update

#1212 Elect22 update
  content/about/xmpp-standards-foundation.md
  data/members.json
Labels: Update, Website :computer_mouse:, Board

#1213 remove outdated years
  content/about/xmpp-standards-foundation.md
Labels: Website :computer_mouse:, Board
