Repository xsf/xmpp.org, pull requests merged in 2022-04, with the labels that each got.

#1114 Update compliance-suites.md
  content/about/compliance-suites.md
Labels: Website :computer_mouse:, Documentation

#1116 Random fixes
  content/blog/2022-04-05-newsletter.md
Labels: Newsletter :email:

#1093 EDITORIAL CLOSING: XMPP Newsletter March 2022
  content/blog/2022-04-05-newsletter.md
  static/images/newsletter/2022-03/cheogram-screenshot.png
  static/images/newsletter/2022-03/grafana-screenshot.png
Labels: Newsletter :email:

#1121 Newsletter March 2022: Remove hashtags in text sections
  content/blog/2022-04-05-newsletter.md
Labels: Newsletter :email:

#1123 2022-04-05-newsletter.es.md: Newsletter ES translation
  content/blog/2022-04-05-newsletter.es.md
Labels: Newsletter :email:, Localization :flags:

#1113 Draft: getting-started: Add XMPP Providers and self-hosting possibility
  content/getting-started.md
Labels: Website :computer_mouse:

#1125 Add go-sendxmpp release
  content/blog/2022-05-05-newsletter.md
Labels: Newsletter :email:

#1124 Update section with teams listing
  content/about/xmpp-standards-foundation.md
Labels: Website :computer_mouse:, Documentation
