Repository xsf/xmpp.org, pull requests merged in 2022-05, with the labels that each got.

#1127 [newsletter] Add UWPX Release News
  content/blog/2022-05-05-newsletter.md
Labels: Newsletter :email:

#1128 Newsletter: Change wording on threat model link
  content/blog/2022-05-05-newsletter.md
Labels: Newsletter :email:

#1001 Add content security and referrer policy to website
  deploy/xsf.conf
  themes/xmpp.org/assets/js/err.js
  themes/xmpp.org/layouts/404.html
Labels: bug, enhancement

#1117 EDITORIAL CLOSING: Create Draft file for the XMPP Newsletter April 2022
  content/blog/2022-05-05-newsletter.md
  static/images/newsletter/2022-05/lemmy.png
  static/images/newsletter/2022-05/monalpush.png
  static/images/newsletter/2022-05/poeizo.png
  static/images/newsletter/2022-05/xmppproviders.png
Labels: Newsletter :email:

#986 Render clients list using processed DOAP files
  .github/workflows/build-website.yml
  .gitignore
  Makefile
  content/software/clients.md
  themes/xmpp.org/layouts/shortcodes/software-list-doap.html
  tools/prepare_software_list.py
  tools/requirements.txt
Labels: enhancement

#1131 clients: renew yaxim and bruno
  data/clients.json
Labels: Update

#1122 Newsletter march 2022: German translation
  content/blog/2022-04-05-newsletter.de.md
Labels: Newsletter :email:, Localization :flags:

#1135 XMPP Newsletter April 2022: Update Monal image
  static/images/newsletter/2022-05/monalpush.png
Labels: bug, Newsletter :email:

#1134 20220505 - Newsletter ES Translation
  content/blog/2022-05-05-newsletter.es.md
Labels: Newsletter :email:, Localization :flags:

#1138 GSoC 2022: Update webpage and create blogpost
  content/blog/2022-05-28-gsoc2022-welcome.md
  content/community/gsoc-2022.en.md
Labels: Website :computer_mouse:
