Repository xsf/xmpp.org, pull requests merged in 2022-03, with the labels that each got.

#1088 REVIEW: XMPP Newsletter February 2022
  content/blog/2022-03-05_newsletter.md
  static/images/newsletter/2022-02-05/JMP_bidirectional.png
  static/images/newsletter/2022-02-05/dino_conference_call.png
  static/images/newsletter/2022-02-05/movim_publish.png
Labels: Newsletter :email:

#1092 content/blog/2022-03-05-newsletter.md: Collaborators correction
  content/blog/2022-03-05-newsletter.md
Labels: Newsletter :email:

#1094 Add Psi doap file
  data/clients.json
Labels: Update

#1096 content/blog/2022-03-05-newsletter.md: Added patasca as collaborator
  content/blog/2022-03-05-newsletter.md
Labels: Newsletter :email:

#1095 content/blog/2022-03-05-newsletter.es.md: Added ES translation
  content/blog/2022-03-05-newsletter.es.md
Labels: Newsletter :email:, Localization :flags:

#1101 Newsletter February '22: Fix link for XEP MUC Affiliations Versioning
  content/blog/2022-03-05-newsletter.md
Labels: bug, Newsletter :email:

#1103 German newsletter february 2022
  content/blog/2022-02-05-newsletter.de.md
  content/blog/2022-03-05-newsletter.de.md
  content/blog/2022-03-05_newsletter.md
Labels: Newsletter :email:, Localization :flags:

#1104 Add FR translation: GSoC 2022
  content/community/gsoc-2022.fr.md
Labels: Website :computer_mouse:, Localization :flags:

#1106 german translation of newsletter feb 2022
  content/blog/2022-03-05-newsletter.de.md
Labels: Newsletter :email:, Localization :flags:

#1108 GSoC 2022: Update page with participating projects listed
  content/community/gsoc-2022.en.md
Labels: Website :computer_mouse:

#1109 Add French newsletter translation
  content/blog/2022-03-05-newsletter.fr.md
Labels: Newsletter :email:, Localization :flags:

#1111 data: renew Mellium library registration
  data/libraries.json
Labels: Update
