Repository xsf/xmpp.org, pull requests merged in 2024-07, with the labels that each got.

#1408 Create software_archive.json
  data/software_archive.json
Labels: Update, Documentation

#1409 GSoC blog correction
  content/blog/newsletter/2024-07-05.md
Labels: bug, Newsletter :email:

#1405 DRAFT: The XMPP Newsletter June 2024
  content/blog/newsletter/2024-07-05.md
  static/images/newsletter/2024-07-05/ejabberd-webadmin2.png
  static/images/newsletter/2024-07-05/gajim-message-reactions.png
  static/images/newsletter/2024-07-05/placeholder.txt
Labels: Newsletter :email:
