Repository xsf/xmpp.org, pull requests merged in 2024-09, with the labels that each got.

#1429 Update after q3-2024 elections
  data/members.json
Labels: Update, Board

#1427 REVIEW: The XMPP Newsletter August 2024
  content/blog/newsletter/2024-09-05-newsletter.md
  static/images/newsletter/2024-09-05/blasta_browse.png
  static/images/newsletter/2024-09-05/blasta_tag.png
  static/images/newsletter/2024-09-05/movim-0.27.png
Labels: Newsletter :email:

#1431 Create 2024-09-05-newsletter.es.md
  content/blog/newsletter/2024-09-05-newsletter.es.md
Labels: Newsletter :email:, Localization :flags:

#1432 Small corrections 2024-09-05-newsletter.md
  content/blog/newsletter/2024-09-05-newsletter.md
Labels: Newsletter :email:

#1428 German translation for August 2024 newsletter
  content/blog/newsletter/2024-09-05-newsletter.de.md
Labels: Newsletter :email:, Localization :flags:
